<!DOCTYPE html>
<html lang="{{ request.locale.iso_code | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; Tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    <link rel="canonical" href="{{ canonical_url }}">
    
    {{ content_for_header }}
    
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="all">
  </head>
  <body class="template-{{ template | replace: '.', ' ' | handleize }}">
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      Skip to content
    </a>
    
    <main id="MainContent" class="content-for-layout" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>